!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
      %title= title
      %link{:href => "/default.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %body
    %h2= title
    %h3= now
    = body